@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--- Copyright 2013 de Victor Ribeiro da Silva Eloy Este arquivo é parte do programa FUTECAMARA. O FUTECAMARA é um software livre; você pode redistribuí-lo e/ou modificá-lo dentro dos termos da GNU General Public License como publicada pela Fundação do Software Livre (FSF); na versão 3 da Licença. Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a licença para maiores detalhes. Você deve ter recebido uma cópia da GNU General Public License, sob o título "LICENSE", junto com este programa, se não, acesse http://www.gnu.org/licenses/ --->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FUTECAMARA</title>
    @Styles.Render("~/Content/css/futenado.css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/Scripts/jquery-1.8.2.js")
    @Scripts.Render("~/bundles/jqueryui")
    

    <script type="text/javascript">

        function atualizarTamanhoAbas() {
            $(".barra-nav").css("height", $(".boxAtiva:visible:first").outerHeight(true));
        }
        function trocarPagina() {
            atualizarTamanhoAbas()
        }

        function abrirLogin() {
            $("#box-login, #overlay").show();
        }

        function fecharLogin() {
            $("#box-login, #overlay").hide();
            return false;
        }

        function abrirConquistas() {
            $("#box-conquistas, #overlay").show();
        }

        function fecharConquistas() {
            $("#box-conquistas, #overlay").hide();
            return false;
        }

        $(function () {
            window.onhashchange = trocarPagina;
            trocarPagina();
        });

    </script>
</head>
<body>

    <div id="boxConteudo">

        <div class="boxLogo">
            <img src="@Url.Content("~/Content/Images/logo.png")" />
        </div>
        <div class="barraTopoVerde"></div>

        @RenderBody()

    </div>



    <div id="overlay"></div>
    @Html.Partial("Login")
    @Html.Partial("Conquistas")

</body>
</html>
