<div id="box-conquistas">
    
    <a class="btn-fechar" onclick="fecharConquistas()" href="#"><img src=@Url.Content("~/Content/Images/fechar.png") />"</a>

    <span class="bold">MINHAS CONQUISTAS</span>
    <span class="bold direita">TOTAL GANHO:   30</span>
    <div id="espaco-tabela-conquista">
    <table cellspacing="0" class="tabela-jogos">
       <tr>
            <td><img class="achivment-usuario" src="@Url.Content("~/Content/Images/trofeu.png")" /></td>
            <td style="width:70%">ganhar 10 jogos seguidos
            </td>
            <td>10 pontos</td>
        </tr>
        <tr>
            <td><img class="achivment-usuario" src="@Url.Content("~/Content/Images/trofeu.png")" /></td>
            <td style="width:70%">ganhar 10 jogos seguidos
            </td>
            <td>10 pontos</td>
        </tr>
        <tr>
            <td><img class="achivment-usuario" src="@Url.Content("~/Content/Images/trofeu.png")" /></td>
            <td style="width:70%">ganhar 10 jogos seguidos
            </td>
            <td>10 pontos</td>
        </tr>
        <tr>
            <td><img class="achivment-usuario" src="@Url.Content("~/Content/Images/trofeu.png")" /></td>
            <td style="width:70%">ganhar 10 jogos seguidos
            </td>
            <td>10 pontos</td>
        </tr>
        <tr>
            <td><img class="achivment-usuario" src="@Url.Content("~/Content/Images/trofeu.png")" /></td>
            <td style="width:70%">ganhar 10 jogos seguidos
            </td>
            <td>10 pontos</td>
        </tr>
         <tr>
            <td><img class="achivment-usuario" src="@Url.Content("~/Content/Images/trofeu.png")" /></td>
            <td style="width:70%">ganhar 10 jogos seguidos
            </td>
            <td>10 pontos</td>
        </tr>
         <tr>
            <td><img class="achivment-usuario" src="@Url.Content("~/Content/Images/trofeu.png")" /></td>
            <td style="width:70%">ganhar 10 jogos seguidos
            </td>
            <td>10 pontos</td>
        </tr>
         <tr>
            <td><img class="achivment-usuario" src="@Url.Content("~/Content/Images/trofeu.png")" /></td>
            <td style="width:70%">ganhar 10 jogos seguidos
            </td>
            <td>10 pontos</td>
        </tr>
         <tr>
            <td><img class="achivment-usuario" src="@Url.Content("~/Content/Images/trofeu.png")" /></td>
            <td style="width:70%">ganhar 10 jogos seguidos
            </td>
            <td>10 pontos</td>
        </tr>
         <tr>
            <td><img class="achivment-usuario" src="@Url.Content("~/Content/Images/trofeu.png")" /></td>
            <td style="width:70%">ganhar 10 jogos seguidos
            </td>
            <td>10 pontos</td>
        </tr>
         <tr>
            <td><img class="achivment-usuario" src="@Url.Content("~/Content/Images/trofeu.png")" /></td>
            <td style="width:70%">ganhar 10 jogos seguidos
            </td>
            <td>10 pontos</td>
        </tr>
         <tr>
            <td><img class="achivment-usuario" src="@Url.Content("~/Content/Images/trofeu.png")" /></td>
            <td style="width:70%">ganhar 10 jogos seguidos
            </td>
            <td>10 pontos</td>
        </tr>
         <tr>
            <td><img class="achivment-usuario" src="@Url.Content("~/Content/Images/trofeu.png")" /></td>
            <td style="width:70%">ganhar 10 jogos seguidos
            </td>
            <td>10 pontos</td>
        </tr>
    </table>
        </div>
</div>
